<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PathToFolder" value="C:\\Users\\Pavel_Sahanau\\Repositories\\Mentoring-2022\\FileSystem\\FileSystemVisitor\\bin\\Debug\\netcoreapp3.1" />
		<add key="AbortRequested" value="false" />
		<add key="ExcludeRequested" value="false" />
		<add key="CountForAbort" value="6" />
		<add key="CountForExclude" value="5" />
	</appSettings>
</configuration>